<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Class</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">EDIT ALL CLASSES</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5">

            <div class="col-md-3">
                <label for="student"
                       class="form-label lbl">Class Name</label>
                <input type="text"
                       class="form-control"
                       id="student">
            </div>


            <div class="col-7  mt-5">
                <button type="submit"
                        class="btn btn-danger ">Update Class Name</button>
            </div>
        </form>
        
        

    </div>
</div>