<!-------------
  Authors : JSWEBAPP (SANTOSH)
  Website : http://jswebapp.com/
  App Name : School Managment App With Angular 14
  This App Template Source code is licensed as per the
  terms found in the Website http://jswebapp.com/license
  Copyright and Good Faith Purchasers © 2022-present JSWEBAPP.
  Youtube : youtube.com/@jswebapp 
  -----------> 
<div class="row box"> 
    <div class="col-md-12 ">
        <ngx-spinner type="timer">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <h1 class="text-muted mb-5">EDIT  CLASS</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5 needs-validation"
              #classForm="ngForm"
              novalidate>

            <div class="col-md-3">
                <label for="className"
                       [ngClass]="{ 'text-danger': className.touched && className.invalid , 'text-success': className.touched && className.valid  }"
                       class="form-label lbl">Class Name</label>
                <input type="text"
                       class="form-control"
                       id="className"
                       name="className"
                       [(ngModel)]="classList.className"
                       #className="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': className.touched && className.invalid , 'is-valid': className.touched && className.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Class Name
                </div>
            </div>


            <div class="col-md-4  mt-5">
                <button type="submit"
                        [disabled]="classForm.invalid" (click)="updateClass()"
                        class="btn btn-danger ">Update Class Name</button>
            </div>

            <div class="col-md-4  mt-5">
                <a   [routerLink]="['/class/addClassList']" 
                        class="btn btn-primary ">Go to Class Add Form</a>
            </div>
        </form>
    </div>
</div>