<div class="row box">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Chapters</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">VIEW ALL CHAPTERS</h1>
        <hr>
       
        <form class="row g-3 mt-2 mb-5">
            <div class="col-md-2">
                <label for="classId"
                       [ngClass]="{ 'text-danger': classId.touched && classId.invalid , 'text-success': classId.touched && classId.valid  }"
                       class="form-label">For Class</label>
                <select id="classId"
                        name="classId"
                        class="form-select"
                        [(ngModel)]="classList.classId"
                        #classId="ngModel"
                        (change)="loadSubjects($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': classId.touched && classId.errors?.['defaultSelected'] , 'is-valid': classId.touched && classId.valid  }">
                    <option value="select">Choose Class</option>
                    <option *ngFor="let data of allClassList ; let i = index"
                            [value]="data.classId">Class {{data.className}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="classId.touched && classId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="classId.touched && classId.invalid">
                    Please provide a Class Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="subjectId"
                       [ngClass]="{ 'text-danger': subjectId.touched && subjectId.invalid , 'text-success': subjectId.touched && subjectId.valid  }"
                       class="form-label">For Subjecet</label>
                <select id="subjectId"
                        name="subjectId"
                        class="form-select subjectId"
                        [(ngModel)]="subjectModel.subjectId"
                        (change)="loadChapters($event)"
                        #subjectId="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': subjectId.touched && subjectId.errors?.['defaultSelected'] , 'is-valid': subjectId.touched && subjectId.valid  }">
                    <option value="select">Choose Subject</option>
                    <option *ngFor="let data of subjects ; let i = index"
                            [value]="data.subjectId">{{data.subjectName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="subjectId.touched && subjectId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="subjectId.touched && subjectId.invalid">
                    Please provide a Subject Name
                </div>
            </div>
        </form><hr>
        <div id="table-responsive" *ngIf="showTable">
            <table class="table table-bordered display"
                   id="table2excel">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Class Name</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Chapter Id</th>
                        <th scope="col">Chapter Name</th>                      

                        <th scope="col"><i class="fa fa-pencil-square-o"
                               aria-hidden="true"></i>
                        </th>
                        <th scope="col"><i class="fa fa-trash-o"
                               aria-hidden="true"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let chapter of chapters">
                        <th scope="row"></th>
                        <td>{{chapter.subjectClass}}</td>
                        <td>{{chapter.subjectName}}</td>
                        <td>{{chapter.chapterTopicId}}</td>
                        <td>{{chapter.chapterName}}</td>
                        <td class="text-center" (click)="editSubject(chapter.chapterId)"><a class="btn btn-warning"><i class="fa fa-pencil-square-o text-white"
                                   aria-hidden="true"></i></a></td>
                        <td class="text-center" (click)="openModal(template)"><a class="btn btn-danger"><i class="fa fa-trash-o"
                                   aria-hidden="true"></i></a></td>

                                   <ng-template #template>
                                    <div class="modal-header bg-danger text-white">
                                        <h4 class="modal-title pull-left text-center">Delete</h4>
                                        <button type="button"
                                                class="btn-close close pull-right"
                                                aria-label="Close"
                                                (click)="modalRef?.hide()">
                                            <span aria-hidden="true"
                                                  class="visually-hidden">&times;</span>
                                        </button>
                                    </div>
                                    <div class=" modal-body text-center">
                                        <p>Do you want to confirm delete <span class="text-danger text-bold">Chapter
                                                {{chapter.chapterName}} </span> ?</p>
                                        <button class="mybtn btn btn-danger "
                                                (click)="confirm(chapter.chapterId)">Yes</button>
                                        <button class="btn btn-primary ml-5"
                                                (click)="decline()">No</button>
                                    </div>
                                </ng-template>

                    </tr>

                </tbody>
            </table>
            <hr>
        </div>
        <button type="button"
                class="btn btn-warning text-white offset-md-4"
                id="but">Export to Excel</button>
        <hr>

    </div>
</div>


