<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Class</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <ngx-spinner type="timer">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <h1 class="text-muted mb-5">VIEW ALL CLASSES</h1>
        <hr>

        <div id="table-responsive">
            <table datatable
                   [dtOptions]="dtOptions"
                   [dtTrigger]="dtTrigger"
                   class="row-border hover table table-bordered  table-striped ">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">ID</th>
                        <th scope="col">Class Name</th>

                        <th scope="col"><i class="fa fa-pencil-square-o"
                               aria-hidden="true"></i>
                        </th>
                        <th scope="col"><i class="fa fa-trash-o"
                               aria-hidden="true"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let data of record ; let i = index">
                        <th scope="row">
                            {{i+1}}
                        </th>
                        <td>{{data.classId}}</td>
                        <td>Class {{data.className}}</td>

                        <td (click)="editClass(data.classId)"
                            class="text-center"><a class="btn btn-warning"><i class="fa fa-pencil-square-o text-white"
                                   aria-hidden="true"></i></a></td>

                        <td (click)="openModal(template)"
                            class="text-center"><a class="btn btn-danger"><i class="fa fa-trash-o"
                                   aria-hidden="true"></i></a></td>

                        <ng-template #template>
                            <div class="modal-header bg-danger text-white">
                                <h4 class="modal-title pull-left text-center">Delete</h4>
                                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                                </button>
                              </div>
                            <div class=" modal-body text-center">
                                <p>Do you want to confirm delete <span class="text-danger text-bold">Class
                                        {{data.className}} </span> ?</p>
                                <button class="mybtn btn btn-danger "
                                        (click)="confirm(data.classId)">Yes</button>
                                <button class="btn btn-primary ml-5"
                                        (click)="decline()">No</button>
                            </div>
                        </ng-template>

                    </tr>

                </tbody>
            </table>

            <!--  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls> -->
        </div>
        <button type="button"
                (click)="exportAsXLSX()"
                class="btn btn-warning text-white offset-md-4"
                id="but">Export to Excel</button>


    </div>
</div>