<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Class</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <ngx-spinner type="timer">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <h1 class="text-muted mb-5">VIEW ALL CLASSES</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5 needs-validation"
              #classForm="ngForm"
              (ngSubmit)="saveClass(classForm)"
              novalidate>

            <div class="col-md-3">
                <label for="className"
                       [ngClass]="{ 'text-danger': className.touched && className.invalid , 'text-success': className.touched && className.valid  }"
                       class="form-label lbl">Class Name</label>
                <input type="text"
                       class="form-control"
                       id="className"
                       name="className"                       
                       [(ngModel)]="classList.className"
                       #className="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': className.touched && className.invalid , 'is-valid': className.touched && className.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Class Name
                </div>
            </div>


            <div class="col-md-4  mt-5">
                <button type="submit"
                        [disabled]="classForm.invalid"
                        class="btn btn-danger ">Add Class Name</button>
            </div>

            <div class="col-md-4  mt-5">
                <a   [routerLink]="['/class/classList']" 
                        class="btn btn-primary ">Go to Class List</a>
            </div>
        </form>
       
     


    </div>
</div>