
<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Add Image</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-centerl text-muted">ADD IMAGE</h1>
        <hr >

        <form class="row g-3 mt-5">            
            <div class="col-md-3">
                <label for="student"
                       class="form-label lbl">Image Title</label>
                <input type="text"
                       class="form-control"
                       id="student">
            </div>
           

            <div class="col-md-3">
                <label for="forImage"
                       class="form-label">Upload Image</label>
                <input type="file"
                       class="form-control"
                       id="forPassword">
            </div>
            

            <div class="col-3 d-flex justify-content-center mt-5">
                <button type="submit"
                        class="btn btn-danger ">Add Image</button>
            </div>
        </form>
        
    </div>
</div>
