<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Student Details</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">Student Details</h1>
        <hr>
    </div>
    <div class="col-md-4 table-responsive">
        <table class="table table-bordered table-condensed ">
            <tbody>
                <tr class="info">
                    <th class="bg-dark text-white">Name</th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Address</th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Class</th>
                    <th>Class </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Batch</th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Medium</th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Gender</th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Mobile</th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">E-mail</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 table-responsive">
        <table class="table table-bordered table-condensed ">
            <tbody>
                <tr class="info">
                    <th class="bg-dark text-white">School</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Fees</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Password</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">MAC ID</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Subject</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Compititive Exam</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Date Of Birth</th>
                    <th>

                    </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Registration Date</th>
                    <th>

                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 ">
        <div class="img">
            <img class="img-fluid"
                 src="../../../assets/student/2.jpg" />
        </div>
        <h5 class="text-center text-muted mt-5">Sansakr Sontakke</h5>
        <div class="img">
            <button class="btn btn-primary ">Print Details</button>
            <button class="btn btn-primary ml-5">Update Details</button>
        </div>
    </div>

</div>

<div class="row box">
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">Fee Details</h1>
        <hr>
    </div>
    <div class="col-md-4 ">
        <form>
            <div class="mb-3 row">
                <label for="addFee"
                       class="col-sm-3 col-form-label">Add Fee Amt</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           id="addFee">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="forReceipt"
                       class="col-sm-3 col-form-label">Receipt No</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           id="forReceipt">
                </div>
            </div>

            <div class=" row">
                <div class="img">
                    <button class="btn btn-danger ml-5">Add Fees</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 table-responsive">
        <table class="table table-bordered table-condensed ">
            <tbody>

                <tr class="info">
                    <th class="bg-dark text-white">2019-03-29 20:31:32</th>
                    <th> Rs 500</th>
                    <th>Voucher No. 1</th>
                </tr>

            </tbody>
        </table>
        <div class="img">
            <button class="btn btn-primary ">Print All Receipt</button>
        </div>
    </div>
    <div class="col-md-4 table-responsive">
        <table class="table table-bordered table-condensed ">
            <tbody>
                <tr class="info">
                    <th class="bg-dark text-white">Total Fees</th>
                    <th> Rs 100 </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Paid Fees</th>
                    <th> Rs 100</th>
                </tr>
                <tr class="info">
                    <th class="bg-danger text-white">Balance</th>
                    <th> Rs 100</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="row box">
    <div class="col-md-8 ">
        <h1 class="text-muted mb-5">Marks Details</h1>
        <hr>
        <table class="table table-bordered display">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Total Marks</th>
                    <th scope="col">Obtained Marks</th>
                </tr>
            </thead>

            <tr>
                <td>2019-03-29 20:31:32</td>
                <td>Marathi</td>
                <td>100</td>
                <td>99</td>
            </tr>
        </table>
        <div class="img">
            <button class="btn btn-primary ">Print Progress Report </button>
        </div>
    </div>

    <div class="col-md-4 ">
        <h1 class="text-muted mb-5">Attendance Details</h1>
        <hr>
        <table class="table table-bordered table-condensed ">
            <tbody>
                <tr class="info">
                    <th class="bg-success text-white">Present Days</th>
                    <th> 100 </th>
                </tr>
                <tr class="info">
                    <th class="bg-dark text-white">Absent Days</th>
                    <th> 100</th>
                </tr>
                <tr class="info">
                    <th class="bg-danger text-white">Total Days</th>
                    <th> 100</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row box">
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">Messages to Sanskar</h1>
        <hr>
        <table class="table table-bordered "
              >
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sr No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">

                    </th>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>