<!-------------
  Authors : JSWEBAPP (SANTOSH)
  Website : http://jswebapp.com/
  App Name : School Managment App With Angular 14
  This App Template Source code is licensed as per the
  terms found in the Website http://jswebapp.com/license
  Copyright and Good Faith Purchasers © 2022-present JSWEBAPP.
  Youtube : youtube.com/@jswebapp 
  ----------->
  <div class="row box">
    <div class="col-md-5 mt-3">
        <h1 class="text-muted mb-6 text-center">View  Events in Calendar Mode</h1>
        <hr>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-6 ">
        <h1 class="text-muted mb-6 mt-3">View / Edit / Delete  Events</h1>
        <hr>
        <table class="table table-bordered display"
             id="table2excel">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Colour</th>
           
            <th scope="col"><i class="fa fa-pencil-square-o"
                 aria-hidden="true"></i>
            </th>
            <th scope="col"><i class="fa fa-trash-o"
                 aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of totlaevents; let i = index">
            <th >{{i+1}}</th>
            <td>{{data.date}}</td>
            <td>{{data.title}} </td>
            <td>{{data.msg}}</td>
            <td><div [ngStyle]="{'background-color' : data.color,'width':'80px','height':'40px'}" ></div></td>
           
            <td><a  (click)="editEvents(data.eventId)"
                 class="btn btn-warning"><i class="fa fa-pencil-square-o"
                   aria-hidden="true"></i></a></td>
            <td><a (click)="openModal(templatess)"
                 class="btn btn-danger"><i class="fa fa-trash-o"
                   aria-hidden="true"></i></a></td>

                   <ng-template #templatess>
                    <div class="modal-header bg-danger text-white">
                        <h4 class="modal-title pull-left text-center">Delete</h4>
                        <button type="button"
                                class="btn-close close pull-right"
                                aria-label="Close"
                                (click)="modalRef?.hide()">
                            <span aria-hidden="true"
                                  class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class=" modal-body text-center">
                        <p>Do you want to confirm delete <span class="text-danger text-bold">
                                {{data.title}} </span> ?</p>
                        <button class="mybtn btn btn-danger "
                                (click)="confirm(data.eventId)">Yes</button>
                        <button class="btn btn-primary ml-5"
                                (click)="decline()">No</button>
                    </div>
                </ng-template>
          </tr>

        </tbody>
      </table>
    </div>
</div>




<ng-template #template>
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title pull-left">{{title}}</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       {{msg}} <hr> {{ start | date}}
    </div>
  </ng-template>