<!-------------
  Authors : JSWEBAPP (SANTOSH)
  Website : http://jswebapp.com/
  App Name : School Managment App With Angular 14
  This App Template Source code is licensed as per the
  terms found in the Website http://jswebapp.com/license
  Copyright and Good Faith Purchasers © 2022-present JSWEBAPP.
  Youtube : youtube.com/@jswebapp 
  ----------->
  <div class="row box">
 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Update Student</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-centerl text-muted">UPDATE STUDENT</h1>
        <hr >

        <form class="row g-3 mt-5" #studentForm="ngForm">    
             
            <div class="col-md-3">
                <label for="studentName"
                       [ngClass]="{ 'text-danger': studentName.touched && studentName.invalid , 'text-success': studentName.touched && studentName.valid  }"
                       class="form-label lbl">Student Name</label>
                <input type="text"
                       class="form-control"
                       id="studentName"
                       name="studentName"
                       [(ngModel)]="student.studentName"
                       #studentName="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': studentName.touched && studentName.invalid , 'is-valid': studentName.touched && studentName.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Student Name
                </div>
            </div>
            
            <div class="col-md-3">
                <label for="studentAddress"
                       [ngClass]="{ 'text-danger': studentAddress.touched && studentAddress.invalid , 'text-success': studentAddress.touched && studentAddress.valid  }"
                       class="form-label lbl">Student Address</label>
                <input type="text"
                       class="form-control"
                       id="studentAddress"
                       name="studentAddress"
                       [(ngModel)]="student.studentAddress"
                       #studentAddress="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': studentAddress.touched && studentAddress.invalid , 'is-valid': studentAddress.touched && studentAddress.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Student Address
                </div>
            </div>

            <div class="col-md-1">
                <label for="classId"
                       [ngClass]="{ 'text-danger': classId.touched && classId.invalid , 'text-success': classId.touched && classId.valid  }"
                       class="form-label">For Class</label>
                <select id="classId"
                        name="classId"
                        class="form-select"
                        [(ngModel)]="classList.classId"
                        #classId="ngModel"
                        (change)="loadBaches($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': classId.touched && classId.errors?.['defaultSelected'] , 'is-valid': classId.touched && classId.valid  }">
                    <option value="select">Choose Class</option>
                    <option *ngFor="let data of allClassList ; let i = index"
                            [value]="data.classId">Class {{data.className}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="classId.touched && classId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="classId.touched && classId.invalid">
                    Please provide a Class Name
                </div>
            </div>

            <div class="col-md-1">
                <label for="classId"
                       [ngClass]="{ 'text-danger': batchId.touched && batchId.invalid , 'text-success': batchId.touched && batchId.valid  }"
                       class="form-label">For Batch</label>
                <select id="batchId"
                        name="batchId"
                        class="form-select"
                        [(ngModel)]="batch.batchId"
                        #batchId="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': batchId.touched && batchId.errors?.['defaultSelected'] , 'is-valid': batchId.touched && batchId.valid  }">
                    <option value="select">Choose Batch</option>
                    <option *ngFor="let data of allBatchList ; let i = index"
                            [value]="data.batchId">Class {{data.batchName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="batchId.touched && batchId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="batchId.touched && batchId.invalid">
                    Please provide a Batch Name
                </div>
            </div>

            <div class="col-md-1">
                <label for="studentMedium"
                       [ngClass]="{ 'text-danger': studentMedium.touched && studentMedium.invalid , 'text-success': studentMedium.touched && studentMedium.valid  }"
                       class="form-label">Medium</label>
                <select id="studentMedium"
                        name="studentMedium"
                        class="form-select"
                        [(ngModel)]="medium.value"
                        #studentMedium="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': studentMedium.touched && studentMedium.errors?.['defaultSelected'] , 'is-valid': studentMedium.touched && studentMedium.valid  }">
                    <option value="select">Choose Medium</option>
                    <option *ngFor="let data of mediumData ; let i = index"
                            [value]="data.value"> {{data.name}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="studentMedium.touched && studentMedium.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="studentMedium.touched && studentMedium.invalid">
                    Please provide a Medium
                </div>
            </div>

            <div class="col-md-1">
                <label for="studentGender" [ngClass]="{ 'text-danger': studentGender.touched && studentGender.invalid , 'text-success': studentGender.touched && studentGender.valid  }"
                       class="form-label">Gender</label>
                <select id="studentGender"
                        class="form-select"
                        id="studentGender"
                        name="studentGender"
                        [(ngModel)]="student.studentGender"
                        #studentGender="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': studentGender.touched && studentGender.errors?.['defaultSelected'] , 'is-valid': studentGender.touched && studentGender.valid  }">
                    <option value="select">Choose...</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <div class="valid-feedback"
                     *ngIf="studentGender.touched && studentGender.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="studentGender.touched && studentGender.invalid">
                    Please provide a Gender
                </div>
            </div>


            <div class="col-md-2">
                <label for="studentMobile"
                       [ngClass]="{ 'text-danger': studentMobile.touched && studentMobile.invalid , 'text-success': studentMobile.touched && studentMobile.valid  }"
                       class="form-label lbl">Student Mobile</label>
                <input type="text"
                       class="form-control"
                       id="studentMobile"
                       name="studentMobile"
                       [(ngModel)]="student.studentMobile"
                       #studentMobile="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': studentMobile.touched && studentMobile.invalid , 'is-valid': studentMobile.touched && studentMobile.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Student Mobile
                </div>
            </div>

            <div class="col-md-3">
                <label for="studentEmail"
                       [ngClass]="{ 'text-danger': studentEmail.touched && studentEmail.invalid , 'text-success': studentEmail.touched && studentEmail.valid  }"
                       class="form-label lbl">Student Email</label>
                <input type="email"
                       class="form-control"
                       id="studentEmail"
                       name="studentEmail"
                       [(ngModel)]="student.studentEmail"
                       #studentEmail="ngModel"
                       required
                       email
                       [ngClass]="{ 'is-invalid': studentEmail.touched && studentEmail.invalid , 'is-valid': studentEmail.touched && studentEmail.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Student Email Id
                </div>
            </div>
            
            <div class="col-md-3">
                <label for="studentSchool"
                       [ngClass]="{ 'text-danger': studentSchool.touched && studentSchool.invalid , 'text-success': studentSchool.touched && studentSchool.valid  }"
                       class="form-label lbl">School Name</label>
                <input type="text"
                       class="form-control"
                       id="studentSchool"
                       name="studentSchool"
                       [(ngModel)]="student.studentSchool"
                       #studentSchool="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': studentSchool.touched && studentSchool.invalid , 'is-valid': studentSchool.touched && studentSchool.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Student School Name
                </div>
            </div>
            <div class="col-md-1">
                <label for="studentFee"
                       [ngClass]="{ 'text-danger': studentFee.touched && studentFee.invalid , 'text-success': studentFee.touched && studentFee.valid  }"
                       class="form-label lbl">Fee</label>
                <input type="text"
                       class="form-control"
                       id="studentFee"
                       name="studentFee"
                       [(ngModel)]="student.studentFee"
                       #studentFee="ngModel"
                       required                       
                       [ngClass]="{ 'is-invalid': studentFee.touched && studentFee.invalid , 'is-valid': studentFee.touched && studentFee.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Fees
                </div>
            </div>

            <div class="col-md-1">
                <label for="studentPassword"
                       [ngClass]="{ 'text-danger': studentPassword.touched && studentPassword.invalid , 'text-success': studentPassword.touched && studentPassword.valid  }"
                       class="form-label lbl">Password</label>
                <input type="text"
                       class="form-control"
                       id="studentPassword"
                       name="studentPassword"
                       [(ngModel)]="student.studentPassword"
                       #studentPassword="ngModel"
                       required                       
                       [ngClass]="{ 'is-invalid': studentPassword.touched && studentPassword.invalid , 'is-valid': studentPassword.touched && studentPassword.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Password
                </div>
            </div>

            <div class="col-md-1">
                <label for="studentMac"
                       [ngClass]="{ 'text-danger': studentMac.touched && studentMac.invalid , 'text-success': studentMac.touched && studentMac.valid  }"
                       class="form-label lbl">MAC ID</label>
                <input type="text"
                       class="form-control"
                       id="studentMac"
                       name="studentMac"
                       [(ngModel)]="student.studentMac"
                       #studentMac="ngModel"
                       required                       
                       [ngClass]="{ 'is-invalid': studentMac.touched && studentMac.invalid , 'is-valid': studentMac.touched && studentMac.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a MAC No
                </div>
            </div>


            <div class="col-md-3">
                <label for="forDate"
                       class="form-label">Date</label>
                       <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       [dateTooltipTexts]="selectedDates"
                       [daysDisabled]="[6,0]"
                       [datesDisabled]="disabledDates"
                       name="studentDob"
                       [(ngModel)]="student.studentDob"
                       #studentDob="ngModel" 
                       required>
            </div>
            <div class="col-md-3">
                <label for="inputZip"
                       class="form-label ">Choose Subjects</label><br>
                       <ng-multiselect-dropdown
                       [placeholder]="'custom placeholder'"
                       [settings]="dropdownSettings"
                       [data]="dropdownList"
                       [(ngModel)]="selectedItems"
                       (onSelect)="onItemSelect($event)"
                       (onSelectAll)="onSelectAll($event)"
                       (onDeSelect)="onItemDeSelect($event)"
                       (onFilterChange)="onFilterChange($event)"
                     >
                     </ng-multiselect-dropdown>
            </div>

           


            <div class="col-md-3 ">
                <label for="inputZip"
                       class="form-label text-danger">Add Student image*</label><br>
                <!-- <h5 class="  add-change-img text-danger" (click)="lgModal?.show()">+ Add /Change Image</h5> -->
                <img class="img-fluid myImg" src="{{croppedImage }}" (click)="lgModal?.show()" *ngIf="studentForm.valid"/>
            </div>
            

            
        </form>
        
    </div>
</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <input type="file"
        (change)="fileChangeEvent($event)" />
        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-5 d-flex justify-content-center" *ngIf="imageChangedEvent">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary " (click)="rotate()" [ngClass]="rotateStatus ? 'active' : ''">Rotate</button>
                    <button type="button" class="btn btn-outline-primary " (click)="flipHorizontal()" [ngClass]="flipHorizontalStatus ? 'active' : ''">FlipX</button>
                    <button type="button" class="btn btn-outline-primary " (click)="flipVertical()" [ngClass]="flipVerticalStatus ? 'active' : ''">FlipY</button>
                    <button type="button" class="btn btn-outline-danger "(click)="discardChanges()" [ngClass]="discardChangesStatus ? 'active' : ''">Discard</button>
                  </div>
            </div>
            <div class="col-md-12">
                <image-cropper [imageChangedEvent]="imageChangedEvent"
                #cropper
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                format="png"
                [maintainAspectRatio]=" true"
                [containWithinAspectRatio]="true"
                [cropperMinWidth]="5"
                [cropperMinHeight]="5"
                [roundCropper]="false"
                [canvasRotation]="0"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                [hideResizeSquares]="false"
                [transform]="transform"
                (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="col-md-12 mt-5 d-flex justify-content-center">
                <img [src]="croppedImage"
             *ngIf="imageChangedEvent"
             class="img-fluid" />
            </div>
            <div class="col-md-12 mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-danger" (click)="saveStudent()">Save Student</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
