<!-------------
  Authors : JSWEBAPP (SANTOSH)
  Website : http://jswebapp.com/
  App Name : School Managment App With Angular 14
  This App Template Source code is licensed as per the
  terms found in the Website http://jswebapp.com/license
  Copyright and Good Faith Purchasers © 2022-present JSWEBAPP.
  Youtube : youtube.com/@jswebapp 
  ----------->
  <div class="row box">
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">QUIZ TITLE GOES HERE</h1>
        <hr>
    </div>
</div>

<div class="row box">
    <div class="col-md-12 ">
        <table class="table table-striped table-hover table-responsive">
            <thead class="table-dark ">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Total Marks</th>
                <th scope="col">Obtain Marks</th>
                <th scope="col">Rank</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
            
            </tbody>
          </table>
    </div>

    
</div>