<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Marks</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">QUIZ TITLE GOES HERE</h1>
        <hr>
    </div>
</div>

<div class="row box">
    <div class="col-md-12 ">
        <table class="table table-striped table-hover table-responsive">
            <thead class="table-dark ">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Total Marks</th>
                <th scope="col">Obtain Marks</th>
                <th scope="col">Rank</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
            
            </tbody>
          </table>
    </div>

    
</div>