<!-------------
  Authors : JSWEBAPP (SANTOSH)
  Website : http://jswebapp.com/
  App Name : School Managment App With Angular 14
  This App Template Source code is licensed as per the
  terms found in the Website http://jswebapp.com/license
  Copyright and Good Faith Purchasers © 2022-present JSWEBAPP.
  Youtube : youtube.com/@jswebapp 
  ----------->
<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Subjects</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">EDIT ALL Subjects</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5"
              #subjectForm="ngForm"
              needs-validation
              novalidate>
            <div class="col-md-2">
                <label for="className"
                       [ngClass]="{ 'text-danger': className.touched && className.invalid , 'text-success': className.touched && className.valid  }"
                       class="form-label">For Class</label>
                <select id="className"
                        name="className"
                        class="form-select"
                        [(ngModel)]="subjectModel.subjectClassId"
                        #className="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': className.touched && className.errors?.['defaultSelected'] , 'is-valid': className.touched && className.valid  }">
                    <option value="select">Choose Class</option>
                    <option *ngFor="let data of classesList ; let i = index"
                            [value]="data.classId">Class {{data.className}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="className.touched && className.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="className.touched && className.invalid">
                    Please provide a Class Name
                </div>
            </div>


            <div class="col-md-3">
                <label for="student"
                       class="form-label lbl">Subject Name</label>
                <input type="text"
                       class="form-control"
                       name="subjectName"
                       [(ngModel)]="subjectModel.subjectName"
                       [value]="subjectModel.subjectName">
            </div>


            <div class="col-2  mt-5">
                <button type="submit"
                        class="btn btn-danger "
                        (click)="updateSubject()">Update Subject Name</button>
            </div>
        </form>
        <hr>
    </div>
</div>