<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Create Quiz</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">CREATE QUIZ</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5"
              #quizForm="ngForm">
            <div class="col-md-1">
                <label for="classId"
                       [ngClass]="{ 'text-danger': classId.touched && classId.invalid , 'text-success': classId.touched && classId.valid  }"
                       class="form-label">For Class</label>
                <select id="classId"
                        name="classId"
                        class="form-select"
                        [(ngModel)]="classList.classId"
                        #classId="ngModel"
                        (change)="loadSubjects($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': classId.touched && classId.errors?.['defaultSelected'] , 'is-valid': classId.touched && classId.valid  }">
                    <option value="select">Choose Class</option>
                    <option *ngFor="let data of allClassList ; let i = index"
                            [value]="data.classId">Class {{data.className}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="classId.touched && classId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="classId.touched && classId.invalid">
                    Please provide a Class Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="subjectId"
                       [ngClass]="{ 'text-danger': subjectId.touched && subjectId.invalid , 'text-success': subjectId.touched && subjectId.valid  }"
                       class="form-label">For Subjecet</label>
                <select id="subjectId"
                        name="subjectId"
                        class="form-select subjectId"
                        [(ngModel)]="subjectModel.subjectId"
                        #subjectId="ngModel"
                        (change)="loadChapters($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': subjectId.touched && subjectId.errors?.['defaultSelected'] , 'is-valid': subjectId.touched && subjectId.valid  }">
                    <option value="select">Choose Subject</option>
                    <option *ngFor="let data of subjects ; let i = index"
                            [value]="data.subjectId">{{data.subjectName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="subjectId.touched && subjectId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="subjectId.touched && subjectId.invalid">
                    Please provide a Subject Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="chapterId"
                       [ngClass]="{ 'text-danger': chapterId.touched && chapterId.invalid , 'text-success': chapterId.touched && chapterId.valid  }"
                       class="form-label">Chapters</label>
                <select id="chapterId"
                        name="chapterId"
                        class="form-select subjectId"
                        [(ngModel)]="chapterModel.chapterId"
                        #chapterId="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': chapterId.touched && chapterId.errors?.['defaultSelected'] , 'is-valid': chapterId.touched && chapterId.valid  }">
                    <option value="select">Choose Chapter</option>
                    <option *ngFor="let data of chapters ; let i = index"
                            [value]="data.chapterId">{{data.chapterName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="chapterId.touched && chapterId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="chapterId.touched && chapterId.invalid">
                    Please provide a Subject Name
                </div>
            </div>

            <div class="col-md-3">
                <label for="quizTitle"
                       [ngClass]="{ 'text-danger': quizTitle.touched && quizTitle.invalid , 'text-success': quizTitle.touched && quizTitle.valid  }"
                       class="form-label lbl">Quiz Title </label>
                <input type="text"
                       class="form-control"
                       id="quizTitle"
                       name="quizTitle"
                       [(ngModel)]="quiz.quizTitle"
                       #quizTitle="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': quizTitle.touched && quizTitle.invalid , 'is-valid': quizTitle.touched && quizTitle.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Quiz Name
                </div>
            </div>




            <div class="col-2  mt-5">
                <button type="submit"
                        [disabled]="quizForm.invalid "
                        (click)="saveQuiz()"
                        class="btn btn-danger ">ADD QUIZ</button>
            </div>
        </form>
    </div>
</div>