<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Batchwise Student List</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">Batchwise Student List</h1>
        <hr>
        <div class="row">
            <div class="col-2 mb-3">
                <div class="form-group">
                    <select name="bulk-options" id="" class="form-control">
                        <option value="">Please Select</option>
                        <option value="present">Present</option>
                        <option value="absent">Absent</option>
                    </select>
                </div>
            </div>
            <div class="col-8">
                <input type="submit" class="btn btn-warning" value="Apply" >
            </div>
        </div>
        <table class="table table-bordered " >
            <thead class="table-dark">
                <tr>
                    <th><input type="checkbox" ></th>
                    <th scope="col">Sr No</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">School</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Class</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Image</th>
                    <th scope="col">Fees Paid</th>
                </tr>
            </thead>
            <tbody>
             
        
                <tr>
                    <td><input type="checkbox" class="checkboxes" name="checkboxes[]" value=""></td>
                    <th scope="row"></th>
                    <td><a class=""></a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img src="../../../assets/student/1.jpg" class="img-fluid" width="100px"></td>
                    <td>Fee</td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>