<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Batchwise Student List</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">Batchwise Student List</h1>
        <hr>
        <form class="row g-3 mt-5 mb-5"
              #attendanceForm="ngForm">

            
            <div class="col-md-3">
                <label for="forDate"
                       class="form-label">Date</label>
                       <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       [dateTooltipTexts]="selectedDates"
                       [daysDisabled]="[6,0]"
                       [datesDisabled]="disabledDates"
                       name="studentDob"
                       [(ngModel)]="selectedDate"
                       #studentDob="ngModel" 
                       required>
            </div>
            <div class="col-md-3  mt-5">
                <button type="submit"
                        [disabled]="attendanceForm.invalid"(click)="updateData()"
                        class="btn btn-danger ">Add Batch</button>
            </div>
        </form>
        <table class="table table-bordered ">
            <thead class="table-dark">
                <tr>
                    <th><input type="checkbox"
                               [checked]="isAllCheckBoxChecked()"
                               (change)="checkAllCheckBox($event)"></th>
                    <th scope="col">Sr No</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">School</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Class</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let student of studentList;let i = index ">
                    <td><input type="checkbox"
                               value="{{student.studentId}}"
                               (change)="checkCheckBox($event,student.studentId)"
                               [(ngModel)]="studentList[i].checked"></td>
                    <th>{{i+1}}</th>
                    <td>{{student.studentName}}</td>
                    <td>{{student.studentSchool}}</td>
                    <td>{{student.studentGender}}</td>
                    <td>{{student.subjectClass}}</td>
                    <td><img src="../../../assets/student/1.jpg"
                             class="img-fluid"
                             width="100px"></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>