<div class="row box">
 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Exam</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-centerl text-muted">EDIT EXAM</h1>
        <hr >
        <form class="row g-3 mt-5">  
            <div class="col-md-1">
                <label for="forClass"
                       class="form-label">For Class</label>
                <select id="forClass"
                        class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">Class 1 </option>
                                        <option value="2">Class 2 </option>
                                        <option value="3">Class 3 </option>
                                        <option value="4">Class 4 </option>
                                        <option value="5">Class 5 </option>
                                        <option value="6">Class 6 </option>
                                        <option value="7">Class 7 </option>
                                        <option value="8">Class 8 </option>
                                        <option value="9">Class 9 </option>
                                        <option value="10">Class 10 </option>
                </select>
            </div>

            <div class="col-md-1">
                <label for="forBatch"
                       class="form-label">For Batch</label>
                <select id="forBatch"
                        class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

           
            <div class="col-2">
                <label for="forEmail"
                       class="form-label">Subject</label>
                <input type="email"
                       class="form-control"
                       id="forEmail">
            </div>
            <div class="col-2">
                <label for="forSchool"
                       class="form-label">Total Marks</label>
                <input type="text"
                       class="form-control"
                       id="forSchool">
            </div>
           


            <div class="col-md-3">
                <label for="forDate"
                       class="form-label">Date</label>
                       <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       [bsConfig]="bsConfig"
                       [dateTooltipTexts]="selectedDates"
                       [daysDisabled]="[6,0]"
                       [datesDisabled]="disabledDates">
            </div>

            <div class="col-2 d-flex justify-content-end mt-5">
                <button type="submit"
                        class="btn btn-danger ">Edit Exam</button>
            </div>
        </form>
        
    </div>
</div>
