.text-secondary{
    color:#fff !important;
    font-size: 12px;
    background: red;
    
}
.fa{
    color:red;
    font-size: 20px;
    margin-right: 20px;
}
.active{
    color:#fff !important;
    font-size: 22px;
    transition: all .5s;
}

.active .fa{
    color: #fff!important;
    font-size: 22px;
    transition: all .5s;
}

.active span {
    color:red !important;
    font-size: 22px;
    background: #fff;
    transition: all .5s;
}
.box{
    width: 100%;
    padding:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}