<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Create TermExam</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">CREATE TERMEXAM</h1>
        <hr>
        <div class="progress form-group"
             *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-success"
                 role="progressbar"
                 [style.width.%]="progress">
            </div>
        </div>
        <form class="row g-3 mt-2 mb-5"
              #termexams="ngForm">
            <div class="col-md-1">
                <label for="classId"
                       [ngClass]="{ 'text-danger': classId.touched && classId.invalid , 'text-success': classId.touched && classId.valid  }"
                       class="form-label">For Class</label>
                <select id="classId"
                        name="classId"
                        class="form-select"
                        [(ngModel)]="classList.classId"
                        #classId="ngModel"
                        (change)="loadSubjects($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': classId.touched && classId.errors?.['defaultSelected'] , 'is-valid': classId.touched && classId.valid  }">
                    <option value="select">Choose Class</option>
                    <option *ngFor="let data of allClassList ; let i = index"
                            [value]="data.classId">Class {{data.className}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="classId.touched && classId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="classId.touched && classId.invalid">
                    Please provide a Class Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="subjectId"
                       [ngClass]="{ 'text-danger': subjectId.touched && subjectId.invalid , 'text-success': subjectId.touched && subjectId.valid  }"
                       class="form-label">For Subjecet</label>
                <select id="subjectId"
                        name="subjectId"
                        class="form-select subjectId"
                        [(ngModel)]="subjectModel.subjectId"
                        #subjectId="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': subjectId.touched && subjectId.errors?.['defaultSelected'] , 'is-valid': subjectId.touched && subjectId.valid  }">
                    <option value="select">Choose Subject</option>
                    <option *ngFor="let data of subjects ; let i = index"
                            [value]="data.subjectId">{{data.subjectName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="subjectId.touched && subjectId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="subjectId.touched && subjectId.invalid">
                    Please provide a Subject Name
                </div>
            </div>

            <div class="col-md-2" >
                <label for="examid"
                       [ngClass]="{ 'text-danger': examid.touched && examid.invalid , 'text-success': examid.touched && examid.valid  }"
                       class="form-label">Term Exam</label>
                <select id="examid" 
                        name="examid"
                        class="form-select subjectId"
                        [(ngModel)]="exam.examid"
                        #examid="ngModel"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': examid.touched && examid.errors?.['defaultSelected'] , 'is-valid': examid.touched && examid.valid  }">
                    <option value="select">Choose Term Exam</option>
                    <option *ngFor="let data of examNames ; let i = index"
                            [value]="data.examid">{{data.name}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="examid.touched && examid.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="examid.touched && examid.invalid">
                    Please provide a Exam
                </div>
            </div>

            <div class="col-md-3">
                <label for="termexamName"
                       [ngClass]="{ 'text-danger': termexamName.touched && termexamName.invalid , 'text-success': termexamName.touched && termexamName.valid  }"
                       class="form-label lbl">Term Exam Name</label>
                <input type="text"
                       class="form-control"
                       id="termexamName"
                       name="termexamName"
                       [(ngModel)]="termexam.termexamName"
                       #termexamName="ngModel"
                       required
                       [ngClass]="{ 'is-invalid': termexamName.touched && termexamName.invalid , 'is-valid': termexamName.touched && termexamName.valid  }">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Term Exam Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="fileName"
                       class="form-label">Upload File</label>
                <input type="file"
                name="fileName"
                       [(ngModel)]="termexam.termexamFile"
                       #fileName="ngModel"
                       required
                       class="form-control btn btn-secondary"
                       (change)="fileChangeEvent($event)"
                      >
                <div class="mt-2 text-danger" *ngIf="vaildFile">
                    Please provide PDF  File
                </div>
            </div>


            <div class="col-2  mt-5">
                <button type="submit"
                [disabled]="termexams.invalid || disablebtn"
                (click)="saveTermExam()"
                        class="btn btn-danger ">ADD TERMEXAM</button>
            </div>
        </form>
    </div>
</div>