<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand text-white"    
    [routerLink]="['/indexpage']">{{profile.profileLogo}}</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white"
             aria-current="page">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Student
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/student/students']">View Student</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/student/studentCreate']">Create Student</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Gallery
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/gallery/galleryList']">View Gallery</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/gallery/galleryCreate']">Create Gallery</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Batches
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/batch/batchList']">View Batches</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/batch/batchCreate']">Create Batch</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Fees
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/fee/feeList']">View Fess</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/fee/feeCreate']">Add Fees</a></li>
          </ul>


        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Expences
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/expences/expencesList']">View Expences</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/expences/expencesCreate']">Create Expences</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Exam
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/exam/examList']">View Exam</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/exam/examCreate']">Create Exam</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Messages
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/messages/messageList']">View Messages</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/messages/messagesCreate']">Create Messages</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/events/eventList']">View Events</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/events/eventsCreate']">Create Events</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Masters Module
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">

            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/extra/registration']">Registration</a></li>

            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/extra/complain']">Complaine</a></li>

            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/extra/profile']">Profile</a></li>

            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/class/addClassList']">Classes</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/subject/addSubject']">Subjects</a></li>

            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/chapter/addChapter']">Chapter</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Homework
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/homework/homeworkList']">View Homework</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/homework/homeworkCreate']">Create Homework</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Term Exam
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/termexam/termExamList']">View TermExam</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/termexam/termexamCreate']">Create TermExam</a></li>
          </ul>


        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Videos
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/video/videoList']">View Video</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/video/videoCreate']">Create Video</a></li>
          </ul>


        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white"
             id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Quiz
          </a>
          <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/quiz/quizList']">View Quiz</a></li>
            <li (click)="hideShow()"><a class="dropdown-item"
                 [routerLink]="['/quiz/quizCreate']">Create Quiz</a></li>
          </ul>


        </li>

      </ul>
    </div>
  </div>
</nav>