<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Quiz</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">VIEW ALL QUIZES</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5"
              #quizForm="ngForm">
            <div class="col-md-1">
                <label for="classId"
                       [ngClass]="{ 'text-danger': classId.touched && classId.invalid , 'text-success': classId.touched && classId.valid  }"
                       class="form-label">For Class</label>
                <select id="classId"
                        name="classId"
                        class="form-select"
                        [(ngModel)]="classList.classId"
                        #classId="ngModel"
                        (change)="loadSubjects($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': classId.touched && classId.errors?.['defaultSelected'] , 'is-valid': classId.touched && classId.valid  }">
                    <option value="select">Choose Class</option>
                    <option *ngFor="let data of allClassList ; let i = index"
                            [value]="data.classId">Class {{data.className}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="classId.touched && classId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="classId.touched && classId.invalid">
                    Please provide a Class Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="subjectId"
                       [ngClass]="{ 'text-danger': subjectId.touched && subjectId.invalid , 'text-success': subjectId.touched && subjectId.valid  }"
                       class="form-label">For Subjecet</label>
                <select id="subjectId"
                        name="subjectId"
                        class="form-select subjectId"
                        [(ngModel)]="subjectModel.subjectId"
                        #subjectId="ngModel"
                        (change)="loadChapters($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': subjectId.touched && subjectId.errors?.['defaultSelected'] , 'is-valid': subjectId.touched && subjectId.valid  }">
                    <option value="select">Choose Subject</option>
                    <option *ngFor="let data of subjects ; let i = index"
                            [value]="data.subjectId">{{data.subjectName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="subjectId.touched && subjectId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="subjectId.touched && subjectId.invalid">
                    Please provide a Subject Name
                </div>
            </div>

            <div class="col-md-2">
                <label for="chapterId"
                       [ngClass]="{ 'text-danger': chapterId.touched && chapterId.invalid , 'text-success': chapterId.touched && chapterId.valid  }"
                       class="form-label">Chapters</label>
                <select id="chapterId"
                        name="chapterId"
                        class="form-select subjectId"
                        [(ngModel)]="chapterModel.chapterId"
                        #chapterId="ngModel"
                        (change)="loadQuiz($event)"
                        appSelectValidator="select"
                        [ngClass]="{ 'is-invalid': chapterId.touched && chapterId.errors?.['defaultSelected'] , 'is-valid': chapterId.touched && chapterId.valid  }">
                    <option value="select">Choose Chapter</option>
                    <option *ngFor="let data of chapters ; let i = index"
                            [value]="data.chapterId">{{data.chapterName}} </option>
                </select>
                <div class="valid-feedback"
                     *ngIf="chapterId.touched && chapterId.valid">
                    Looks good!
                </div>
                <div class="invalid-feedback"
                     *ngIf="chapterId.touched && chapterId.invalid">
                    Please provide a Subject Name
                </div>
            </div>


        </form>
    </div>
</div>


<div class="row box" *ngFor="let quiz of quizes;">
    <div class="col-md-9 ">
        <h1 class="text-muted mb-5">{{quiz.quizTitle}}</h1>
        <p class="text-danger">No Of Questions 
            : <span class="text-muted">{{quizes.length}}</span></p>
    </div>
    <div class="col-md-3 ">

        <div class="d-flex justify-content-end">
            <a (click)="addQuestions(quiz.quizId)"
               class="btn btn-success"><i class="fa fa-plus"
                   aria-hidden="true"></i></a>

            <a (click)="viewQuestions(quiz.quizId)" class="btn btn-primary"><i class="fa fa-eye"
                   aria-hidden="true"></i></a>

            <a (click)="listQuestions(quiz.quizId)"
               class="btn btn-dark"><i class="fa fa-list"
                   aria-hidden="true"></i></a>

            <a (click)="EditdQuestions(quiz.quizId)" class="btn btn-warning"><i class="fa fa-pencil-square-o"
                   aria-hidden="true"></i></a>

            <a (click)="deletedQuestions(quiz.quizId)" class="btn btn-danger"><i class="fa fa-trash-o"
                   aria-hidden="true"></i></a>
        </div>

    </div>
</div>

