<div class="row box">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">Add Profile</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-centerl text-muted">UPDATE / EDIT PROFILE</h1>
        <hr >

        <form class="row g-3 mt-5">    
             
            <div class="col-md-3">
                <label for="student"
                       class="form-label lbl">Institute Name</label>
                <input type="text"
                       class="form-control"
                       id="student">
            </div>
            <div class="col-md-3">
                <label for="address"
                       class="form-label">Address 1</label>
                <input type="text"
                       class="form-control"
                       id="address">
            </div>

            <div class="col-md-3">
                <label for="address"
                       class="form-label">Address 2</label>
                <input type="text"
                       class="form-control"
                       id="address">
            </div>

            <div class="col-md-1">
                <label for="address"
                       class="form-label">Taluka</label>
                <input type="text"
                       class="form-control"
                       id="address">
            </div>

            <div class="col-md-1">
                <label for="address"
                       class="form-label">District</label>
                <input type="text"
                       class="form-control"
                       id="address">
            </div>


            <div class="col-md-1">
                <label for="forMobile"
                       class="form-label">Mobile</label>
                <input type="text"
                       class="form-control"
                       id="forMobile">
            </div>

            <div class="col-md-3">
                <label for="forEmail"
                       class="form-label">Email</label>
                <input type="email"
                       class="form-control"
                       id="forEmail">
            </div>
            <div class="col-md-3">
                <label for="forSchool"
                       class="form-label">Bank Name</label>
                <input type="text"
                       class="form-control"
                       id="forSchool">
            </div>
            <div class="col-md-2">
                <label for="forFee"
                       class="form-label">Account Number</label>
                <input type="text"
                       class="form-control"
                       id="forFee">
            </div>

            <div class="col-md-1">
                <label for="forPassword"
                       class="form-label">IFSC CODE</label>
                <input type="text"
                       class="form-control"
                       id="forPassword">
            </div>

            <div class="col-md-3">
                <label for="forMacId"
                       class="form-label">Slogan</label>
                <input type="text"
                       class="form-control"
                       id="forMacId">
            </div>

            <div class="col-md-3">
                <label for="forMacId"
                       class="form-label">Website</label>
                <input type="text"
                       class="form-control"
                       id="forMacId">
            </div>
          


            <div class="col-md-6">
                <label for="forImage"
                       class="form-label">LOGO</label>
                <input type="file"
                       class="form-control"
                       id="forPassword">
            </div>
            

            <div class="col-12 d-flex justify-content-center mt-5">
                <button type="submit"
                        class="btn btn-danger ">Update Profile</button>

                        <button type="submit"
                        class="btn btn-success ">Edit Profile</button>
                        
            </div>
        </form>
        
    </div>
</div>
