<div class="row bg-dark"
style="padding-top:20px; margin-top:20px;">
<hr><div class="col-md-3 text-white" >
    <h2 class="text-center">{{profile.profileInstituteName}}</h2><hr>
        <p></p>
        <p class="text-center">© {{this.year}} <a href="{{profile.profileWebsite}}">Apex Acadamy</a>, All rights reserved</p></div>
<div class="col-md-3">
        <h4 class="text-white">Menu</h4>
        
            <ul class="text-white">
                
                <li><a >Privacy Policy</a></li>
                <li><a >Terms & Conditions</a></li>
                <li><a >Disclaimer</a></li>
                <li><a >Contact Us</a></li>
            </ul>
        
</div>
<div class="col-md-3">
        
        <h4 class="text-white "> Design & Developed By</h4>
        <a class="btn btn-danger btn-block" >Vinay Computers, Degloor</a>
        
</div>
<div class="col-md-3 text-white">
            <h4 >Address </h4>
        <address>
             {{profile.profileInstituteName}}<br>
             {{profile.profileAddressOne}}<br>
             {{profile.profileAddressTwo}}<br>
            Email : {{profile.profileEmail}} <br>
            Mobile : {{profile.profileMobile}} <br>
        </address>
</div>

</div>