<div class="row">
    <div class="col-md-12">
        <h2 class="text-center text-white bg-primary">Statics OverView of Apex Acadamy</h2>
        <hr>
    </div>
    <div class="col-md-3 ">
        <div class="card text-primary border-primary">
            <div class="card-header bg-primary text-white">Students</div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <tbody>

                        <tr class="info">
                            <th class="bg-dark text-white">Class :</th>
                            <th class="text-primary">1 </th>
                        </tr>
                        <tr class="info">
                            <th class="bg-dark text-white">Class :</th>
                            <th class="text-primary">1 </th>
                        </tr>
                        <tr class="info">
                            <th class="bg-dark text-white">Class :</th>
                            <th class="text-primary">1 </th>
                        </tr>
                        <tr class="info">
                            <th class="bg-dark text-white">Class :</th>
                            <th class="text-primary">1 </th>
                        </tr>
                        <tr class="info">
                            <th class="bg-dark text-white">Class :</th>
                            <th class="text-primary">1 </th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card text-primary border-warning">
            <div class="card-header bg-warning text-white">Total Fee Collected</div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <tbody>
                        <tr class="info">
                            <th class="bg-dark text-white">Total Fees</th>
                            <th class="text-primary">Rs 520</th>
                        </tr>
                        <tr class="info">
                            <th class="bg-dark text-white">Collected Fees</th>
                            <th class="text-primary">Rs 444</th>
                        </tr>
                        <tr class="info">
                            <th class="bg-danger text-white">Remaining Fees</th>
                            <th class="text-primary">Rs 5545</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <hr>
        <div class="card text-primary border-success">
            <div class="card-header bg-success text-white">Balance Cash</div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <tbody>

                        <tr class="info">
                            <th class="bg-dark text-white">Collected Fees</th>
                            <th class="text-primary">Rs 555</th>
                        </tr>

                        <tr class="info">
                            <th class="bg-dark text-white">Expence</th>
                            <th class="text-primary">Rs 555</th>
                        </tr>
                        <tr class="info">
                            <th class="bg-danger text-white">Remaining Balance</th>
                            <th class="text-primary">Rs 444</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="card text-primary border-danger">
            <div class="card-header bg-danger text-white">Expenses <small> ( Last 10 Expenses )</small></div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <thead class=" table-dark">
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Particular</th>
                    </thead>
                    <tbody>

                        <tr class="info">
                            <td>1</td>
                            <td>2022-23-08</td>
                            <td>Rs 10000</td>
                            <td>Birthday Party </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>