<div class="row"
     *ngIf="appService.isUserLogin.value ">
    <div class="col-md-12">
        <h2 class="text-center text-white bg-primary">Statics OverView of  Acadamy</h2>
        <hr>
    </div>
    <div class="col-md-3 ">
        <div class="card text-primary border-primary">
            <div class="card-header bg-primary text-white">Students</div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <tbody>

                        <tr class="info" *ngFor="let stu of students;">
                            <th class="bg-dark text-white">Class : {{stu['className']}}</th>
                            <th class="text-primary">{{stu['noOfStudnet']}} </th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card text-primary border-warning">
            <div class="card-header bg-warning text-white">Total Fee Collected</div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <tbody>
                        <tr class="info">
                            <th class="bg-dark text-white">Total Fees</th>
                            <th class="text-primary">Rs {{totalFee}}</th>
                        </tr>
                        <tr class="info">
                            <th class="bg-dark text-white">Collected Fees</th>
                            <th class="text-primary">Rs  {{collectedFee}}</th>
                        </tr>
                        <tr class="info">
                            <th class="bg-danger text-white">Remaining Fees</th>
                            <th class="text-primary">Rs {{totalFee - collectedFee}}</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <hr>
        <div class="card text-primary border-success">
            <div class="card-header bg-success text-white">Balance Cash</div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <tbody>

                        <tr class="info">
                            <th class="bg-dark text-white">Collected Fees</th>
                            <th class="text-primary">Rs {{ collectedFee}}</th>
                        </tr>

                        <tr class="info">
                            <th class="bg-dark text-white">Expence</th>
                            <th class="text-primary">Rs {{totlaExpenses}}</th>
                        </tr>
                        <tr class="info">
                            <th class="bg-danger text-white">Remaining Balance</th>
                            <th class="text-primary">Rs {{collectedFee - totlaExpenses}}</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="card text-primary border-danger">
            <div class="card-header bg-danger text-white">Expenses <small> ( Last 10 Expenses )</small></div>
            <div class="card-body">
                <table class="table table-bordered table-condensed ">
                    <thead class=" table-dark">
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Particular</th>
                    </thead>
                    <tbody>

                        <tr class="info" *ngFor="let item of expensesList; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{item['expencesDate'] | date}}</td>
                            <td>Rs {{item['expencesAmt']}} </td>
                            <td>{{item['expencesParticular']}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>