<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Gallery List</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">VIEW ALL IMAGES</h1>
        <hr>
    </div>
    <div class="card col-md-2 mb-2" *ngFor="let data of gallery">
        <img src="http://localhost/ranjana/gallery/images/{{ data.galleryImage }}.jpg"
             class="card-img-top "
             height="200px" width="100%">
        <div class="card-body">
            <h5 class="card-title">{{ data.galleryTitle | truncate : 20}}</h5>
            <hr>
            <div class="img">
                <button class="btn btn-primary " (click)="editGallery(data.galleryId)">Edit</button>
                <button class="btn btn-danger " (click)="openModal(template)">Delete</button>
            </div>
        </div>

        <ng-template #template>
            <div class="modal-header bg-danger text-white">
                <h4 class="modal-title pull-left text-center">Delete</h4>
                <button type="button"
                        class="btn-close close pull-right"
                        aria-label="Close"
                        (click)="modalRef?.hide()">
                    <span aria-hidden="true"
                          class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class=" modal-body text-center">
                <p>Do you want to confirm delete <span class="text-danger text-bold">Chapter
                        {{data.galleryTitle}} </span> ?</p>
                <button class="mybtn btn btn-danger "
                        (click)="confirm(data.galleryId)">Yes</button>
                <button class="btn btn-primary ml-5"
                        (click)="decline()">No</button>
            </div>
        </ng-template>
    </div>


    <div class="row mt-5" *ngIf="gallery.length !== 0">
        <div class="col-xs-12 col-12 d-flex justify-content-center">
          <pagination [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="6"  [totalItems]="total_rows" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"  class="my-pagination"></pagination>
        </div>
      </div>
     
</div>