<div class="row box">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">View Complaints</li>
      </ol>
    </nav>
    <div class="col-md-12 ">
      <h1 class="text-muted mb-5">VIEW ALL COMPLAINTS</h1>
      <hr>
  
      <div id="table-responsive">
        <table class="table table-bordered display"
               id="table2excel">
          <thead class="table-dark text-center">
            <tr>
              <th scope="col">Sr No</th>
              <th scope="col">Date</th>
              <th scope="col">Student Name</th>
              <th scope="col">Image</th>
              <th scope="col">Class</th>
              <th scope="col">Batch</th>
              <th scope="col">Messages</th>         
            </tr>
          </thead>
          <tbody>
  
            <tr>
              <th scope="row"></th>
              <td></td>
              <td>Class </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
  
          </tbody>
        </table>
        <hr>
      </div>
      <button type="button"
              class="btn btn-warning text-white offset-md-4"
              id="but">Export to Excel</button>
      <hr>
  
    </div>
  </div>