<div class="row box">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Student</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">QUIZ TITLE GOES HERE</h1>
        <hr>
    </div>
</div>

<div class="row box">
    <div class="col-md-12 ">
        <div class="question">This is my question ?</div><br>
        <div>This is my question ?</div>
        <div>This is my question ?</div>
        <div>This is my question ?</div>
        <div>This is my question ?</div><br>
        <p>Answer : A</p>
        <div class="d-flex justify-content-start qBox">
         <a 
            class="btn btn-success"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></a>
         <a 
            class="btn btn-danger"><i class="fa fa-trash-o"
                aria-hidden="true"></i></a>
        </div><hr>
    </div>
   
    <div class="col-md-12 ">
        <div class="question">This is my question ?</div><br>
        <div>This is my question ?</div>
        <div>This is my question ?</div>
        <div>This is my question ?</div>
        <div>This is my question ?</div><br>
        <p>Answer : A</p>
        <div class="d-flex justify-content-start qBox">
         <a 
            class="btn btn-success"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></a>
         <a 
            class="btn btn-danger"><i class="fa fa-trash-o"
                aria-hidden="true"></i></a>
        </div><hr>
    </div>

    
</div>