<div class="row box">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">View Homework</li>
        </ol>
    </nav>
    <div class="col-md-12 ">
        <h1 class="text-muted mb-5">VIEW ALL HOMEWORK</h1>
        <hr>
        <form class="row g-3 mt-2 mb-5">
            <div class="col-md-1">
                <label for="forClass"
                       class="form-label">For Class</label>
                <select id="forClass"
                        class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">Class 1 </option>
                    <option value="2">Class 2 </option>
                    <option value="3">Class 3 </option>
                    <option value="4">Class 4 </option>
                    <option value="5">Class 5 </option>
                    <option value="6">Class 6 </option>
                    <option value="7">Class 7 </option>
                    <option value="8">Class 8 </option>
                    <option value="9">Class 9 </option>
                    <option value="10">Class 10 </option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="forClass"
                       class="form-label">SUBJECT</label>
                <select id="forClass"
                        class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">Class 1 </option>
                    <option value="2">Class 2 </option>
                    <option value="3">Class 3 </option>
                    <option value="4">Class 4 </option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="forClass"
                       class="form-label">CHAPTER</label>
                <select id="forClass"
                        class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">Class 1 </option>
                    <option value="2">Class 2 </option>
                    <option value="3">Class 3 </option>
                    <option value="4">Class 4 </option>
                </select>
            </div>
        </form>
    </div>
</div>


<div class="row box">
    <div class="col-md-9 ">
        <h1 class="text-muted mb-5">CHAPTER TITLE GOES HERE</h1>
    </div>
    <div class="col-md-3 ">

        <div class="d-flex justify-content-end">
            <a href="studentDetails.php?id="
            class="btn btn-primary"><i class="fa fa-eye"
                aria-hidden="true"></i></a>
 
         <a href="editStudent.php?id="
            class="btn btn-warning"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></a>
 
         <a href="student.php?del="
            class="btn btn-danger"><i class="fa fa-trash-o"
                aria-hidden="true"></i></a>
        </div>
        
    </div>
</div>

<div class="row box">
    <div class="col-md-9 ">
        <h1 class="text-muted mb-5">CHAPTER TITLE GOES HERE</h1>
    </div>
    <div class="col-md-3 ">

        <div class="d-flex justify-content-end">
            <a href="studentDetails.php?id="
            class="btn btn-primary"><i class="fa fa-eye"
                aria-hidden="true"></i></a>
 
         <a href="editStudent.php?id="
            class="btn btn-warning"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></a>
 
         <a href="student.php?del="
            class="btn btn-danger"><i class="fa fa-trash-o"
                aria-hidden="true"></i></a>
        </div>
        
    </div>
</div>