<div class="row box">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">View Expences</li>
      </ol>
    </nav>
    <div class="col-md-12 ">
      <h1 class="text-muted mb-5">VIEW ALL EXPENCES</h1>
      <hr>
  
      <div id="table-responsive">
        <table class="table table-bordered display"
               id="table2excel">
          <thead class="table-dark text-center">
            <tr>
              <th scope="col">Sr No</th>
              <th scope="col">Particular</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
             
              <th scope="col"><i class="fa fa-pencil-square-o"
                   aria-hidden="true"></i>
              </th>
              <th scope="col"><i class="fa fa-trash-o"
                   aria-hidden="true"></i>
              </th>
            </tr>
          </thead>
          <tbody>
  
            <tr>
              <th scope="row"></th>
              <td></td>
              <td> </td>
              <td></td>
             
              
              <td><a 
                   class="btn btn-warning"><i class="fa fa-pencil-square-o text-white"
                     aria-hidden="true"></i></a></td>
              <td><a 
                   class="btn btn-danger"><i class="fa fa-trash-o"
                     aria-hidden="true"></i></a></td>
            </tr>
  
          </tbody>
        </table>
        <hr>
      </div>
      <button type="button"
              class="btn btn-warning text-white offset-md-4"
              id="but">Export to Excel</button>
      <hr>
  
    </div>
  </div>