<div class="row box">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"
          aria-current="page">View Expences</li>
    </ol>
  </nav>
  <div class="col-md-12 ">
    <h1 class="text-muted mb-5">VIEW ALL EXPENCES</h1>
    <hr>

    <div id="table-responsive">
      <table class="table table-bordered display"
             id="table2excel">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Particular</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>

            <th scope="col"><i class="fa fa-pencil-square-o"
                 aria-hidden="true"></i>
            </th>
            <th scope="col"><i class="fa fa-trash-o"
                 aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let expense of allExpenses; let i = index">
            <td>{{i+1}}</td>
            <td> {{expense.expencesParticular}} </td>
            <td>{{expense.expencesDate | date: 'dd-MM-yyyy'}}</td>
            <td>${{expense.expencesAmt}}</td>


            <td (click)="editExpense(expense.expencesId)"><a class="btn btn-warning"><i class="fa fa-pencil-square-o"
                   aria-hidden="true"></i></a></td>
            <td (click)="openModal(template)"><a class="btn btn-danger"><i class="fa fa-trash-o"
                   aria-hidden="true"></i></a></td>

                   <ng-template #template>
                    <div class="modal-header bg-danger text-white">
                        <h4 class="modal-title pull-left text-center">Delete</h4>
                        <button type="button"
                                class="btn-close close pull-right"
                                aria-label="Close"
                                (click)="modalRef?.hide()">
                            <span aria-hidden="true"
                                  class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class=" modal-body text-center">
                        <p>Do you want to confirm delete <span class="text-danger text-bold">
                                {{expense.expencesParticular}} </span> ?</p>
                        <button class="mybtn btn btn-danger "
                                (click)="confirm(expense.expencesId)">Yes</button>
                        <button class="btn btn-primary ml-5"
                                (click)="decline()">No</button>
                    </div>
                </ng-template>
          </tr>

        </tbody>
      </table>
      <hr>
    </div>
    <button type="button"
            class="btn btn-warning text-white offset-md-4"
            id="but">Export to Excel</button>
    <hr>

  </div>
</div>